.card {
    border: solid 1px green;
    border-radius: 4px;
    display: flex;
    flex: 1 0 320px;
    flex-wrap: wrap;
    max-width: 320px;
    margin: 8px;
    padding: 8px;
}

.card img {
    aspect-ratio: 4/3;
    width: 100%;
    height: auto;
}

.card figure {
    margin: 0;
}